:root {
   --font-family: "Archivo Black";
}

body {
    font-family: var(--font-family);
}


.container {
	width: 100%;
	max-width: 280px;
	padding: 0 25px 25px;
	margin: 0 auto;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
}

h2 {
    font-size: 20px;
}
p {
    color: #b1b1b1;
    font-size: 9px;
}

sup {
    color: rgb(0, 81, 255);
    font-weight: bolder;
    font-size: 10px;
}

.name {
    display: inline-block;
    width: 135px;
    /* border: 2px solid green; */
}

.name label {
    font-size: 10px;
    margin-bottom: 20px;
}

.email label {
    font-size: 10px;
    margin-bottom: 20px;
}

.email {
    display: inline-block;
    width: 135px;
    /* border: 2px solid green; */
}

.name input {
    height: 25px;
    width: 120px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 0.5px solid #bdbdbd;
}

.email input {
    border-radius: 10px;
    margin-top: 5px;
    border: 0.5px solid #bdbdbd;
    height: 25px;
    width: 120px;
    padding: 5px;
}

.topic {
    display: inline-block;
    width: 130px;
}
.topic label {
    font-size: 10px;
}
.topic select {
    width: 273px;
    height: 35px;
    margin-top: 5px;
    background-color: #fff;
    color: #b1b1b1;
    border-radius: 0px; 
    border: 0.5px solid #bdbdbd;
    padding: 0 12px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.message {
    display: inline-block;
    width: 250px;
}

.message label {
    font-size: 10px;
}

.message textarea {
    margin-top: 5px;
    width: 260px;
    border-radius: 0;
    background-color: #fff;
    color: #b1b1b1;
    border: 0.5px solid #bdbdbd;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.btn {
    display: block;
    margin: 0;
    width: 275px;
    text-align: center;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(36, 117, 247);
    color: white;
    font-family: var(--font-family);
    font-size: 9px;
    border: 0px solid;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(82, 36, 247);
    transform: scale(1.1);
}

textarea {
  resize: none;
}