body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    /* border: 2px solid red; */
    max-width: 700px;
    padding: 20px 25px;
    margin: 0 auto;
    background-color: #F3AAAD;
}

header {
    display: inline-block;
    width: 650px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
    background-color:#9AD0C7;
}

aside {
    display: inline-block;
    height: 350px;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    background-color: #62B7B5;
}

aside > h1 {
    margin-top: 150px;
}

article {
    display: inline-block;
    text-align: center;
    height: 350px;
    width: 470px;
    margin-left: 20px;
    vertical-align: top;
    background-color: #FA7B7A;
}

ul {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

li {
    display: inline-block;
    font-size: 10px;
}

a {
    border-right: 1px solid darkgrey;
    border: 1px solid darkgrey;
    margin: -3px;
    padding: 8px;
    background-color: white;
    color: grey;
    transition: all 0.3s ease-in;
}

a:hover {
    background-color: darkgrey;
    color: black;
}

li:last-child a {
    border-right: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
li:first-child a {
    border-right: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

article h1 {
    color: white;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-bottom: 20px;
}

.item {
    display: inline-block;
    width: 140px;
    height: 140px;
    color: white;
    background-color: #D5D5D5;
    margin-right: 10px;
}

.item:last-child {
    margin-right: 0;
}

span {
    display: inline-block;
    margin-top: 55px;
    font-size: 30px;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 30px;
    background-color: #99D1C7;
}